<% breadcrumb :post %>
<h3><%= @topic.title %></h3>
<% @posts.each_with_index do |post , idx | %>
  <div id="<%= post.sub_id %>">
    <table class="table table-sm">
      <tr>
        <th style="width:70%">
          <span>
            <%= "[#{post.sub_id}] [#{post.name.blank? ? '名無し' : post.name}] #{post.user_id ? "ID:#{post.user_id}" : ""}" %>
          </span>
        </th>
        <th>
          <%= link_to "【編集】", edit_topic_post_path(@topic, post)%>
        </th>
      </tr>
    </table>
    <div class="d-flex flex-column">
      <%= cnv_anchor(post.body).gsub("\r\n",'<br/>').html_safe %>
      <a>
    </div>
    <div class="d-flex flex-row bd-highlight mb-3">
      <div class="col col-md-2" style="padding-top:25px;">
        <%= post.created_at.to_s(:datetime) %>
      </div>
      <div class="col-sm-auto" style="padding-top:25px;">
        <%= button_to 'いいね', topic_post_likes_path(@topic,post) %>
        <%= flash[:notice] %>
      </div>
      <div class="col col-md-2" style="padding-top:25px;">
        <i class="far fa-laugh-squint fa-lg">
          <%= post.likes.count %>
        </i>
      </div>
    </div>
  </div>
<% end %>
<div class="newtopic">
  <div class="newcomment">
    <h2>新規書き込み</h2>
    <%= form_for @newpost, :url => topic_posts_path(@topic), method: :post do |f| %>
      <p>お名前</p>
      <p><%= f.text_field :name %></p>
      <p>コメント</p>
        <%= f.text_area :body, size: "120x10"%>
        <%= f.hidden_field :topic_id %>
      <div class="d-flex justify-content-left" style="padding-top: 35px;">
        <button class="btn btn-outline-primary btn-lg">コメントする</button>
      </div>
    <% end %>
    <%= link_to 'http://localhost:3000/' do %>
    <div class="d-flex justify-content-center">
      <a href="http://localhost:3000/">◆トピック一覧に戻る◆</a>
    </div>
    <% end %>
    <%= will_paginate @posts %>
  </div>
</div>
