<% breadcrumb :edit %>
<%= form_tag(topic_post_path(@topic, @post), method: :patch) do |f| %>
  <div>
    <%= text_area_tag :body, @post.body %>
    <input type="submit"value="更新">
  </div>
<% end %>
<%= link_to :back do %>
  <button class="btn btn-primary">戻る</button>
<% end %>

<%= link_to 'http://localhost:3000/' do %>
  <button class="btn btn-primary">HOME</button>
<% end %>



<% @post.errors.full_messages.each do |message| %>
  <%= message%>
<%end%>
